@page
@model RazorPagesTerm.Pages.Terms.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Term</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Library.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
